.bg-1 {
    background-color: #cccccc; /* Gray */
    color: #ffffff;
}
.bg-2 {
    background-color: #e8b13c; /* Gray */
    color: #ffffff;
}
.bg-3 {
    background-color: #bbbbbb; /* Gray */
    color: #000000;
    background-image: url("/images/whetrock-rock-rock-truck-loading-graphic.png");
}

.img-auto-height {
    max-width: 100%;
    height: auto;
}

.img-logo {
    
    
}

.responsive {
    padding: 0 6px;
    float: center;
    width: 35.99999%;
}